@tailwind base;
@tailwind components;
@tailwind utilities;

.input, .button {
  padding: 8px;
  margin: 4px;
  color: #2d3748; /* Dark text color for input and buttons */
  background-color: #f7fafc; /* Light background for inputs */
  max-width: -webkit-fill-available;
}

.input:focus {
  outline: none;
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}

.grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.button {
  background-color: #2d3748; /* Dark button background */
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #4a5568;
}

.form-radio {
  margin: 0 8px 0 0;
}

.label-radio {
  cursor: pointer;
  margin-right: 16px;
}

